process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: GETBASECOUNTSMULTISAMPLE {
        ext.args = "--omaf --maq 20  --baq 20 --filter_improper_pair 0"
    }

    // to keep output bam md5sum consistent despite template changes
    withName: 'STAR_ALIGN' {
        cpus = 2
    }
}

nextflow.enable.moduleBinaries = true

params {
    maf_input = "${projectDir}/tests/data/input.tsv"
}

plugins {
    id 'nf-schema@2.1.1'
}
