params {
    outdir = "output/"
    workflow_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    tracedir           = "${params.outdir}/pipeline_info/${params.workflow_timestamp}"
    reference_base = "output/references"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    conda.enabled = true
} else if ("$PROFILE" == "mamba") {
    conda.enabled  = true
    conda.useMamba = true
} else {
    docker.enabled = true
    docker.userEmulation = true
    docker.runOptions = "--platform linux/x86_64"
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
// includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=22.10.1'
}
