process {
    withName: 'METAFUSION_RUN|GUNZIP_METAFUSION.*|AGFUSION.*|ARRIBA_DOWNLOAD|KALLISTO_QUANT' {
        ext.when = { ! (workflow.profile.toString().split(",").contains("singularity") && workflow.profile.toString().split(",").contains("test")) }
    }

    // to keep output bam md5sum consistent despite template changes
    withName: 'STAR_ALIGN' {
        cpus = 2
    }
}
