executor {
    name = "slurm"
    queueSize = 50
}

process {
    resourceLimits = [
        memory: 1.TB,
        cpus  : 56,
        time  : 168.h
    ]
    memory         = "8.GB"
    time           = { 3.h * task.attempt }
    clusterOptions = ""
    queue          = "test01"
    scratch        = true
    beforeScript   = "unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries     = 3

    withLabel:process_single {
        cpus   = { 1                     }
        memory = { 8.GB   * task.attempt }
        time   = { 4.h    * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2      * task.attempt }
        memory = { 8.GB   * task.cpus    }
        time   = { 4.h    * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6      * task.attempt }
        memory = { 8.GB   * task.cpus    }
        time   = { 8.h    * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12     * task.attempt }
        memory = { 8.GB   * task.cpus    }
        time   = { 16.h   * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.cpus    }
    }
    withLabel:process_low {
        time   = { 50.h   * task.attempt }
    }
}

params {
    reference_base = "/data1/test01/ccs/work/noronhaa/test_forte/references"
    igenomes_base  = 's3://ngi-igenomes/igenomes'
    targets_base   = '/data1/test01/ccs/work/noronhaa/test_forte/references'
}

env {
    SPARK_LOCAL_DIRS = './'
}

singularity {
    enabled = true
    runOptions = "-B $TMPDIR"
    autoMounts = true
    cacheDir = "/data1/test01/ccs/singularity_images"
}
