executor {
    name = "slurm"
    queueSize = 50
}

process {
    memory         = "8.GB"
    time           = { 3.h * task.attempt }
    clusterOptions = ""
    queue          = "test01"
    scratch        = true
    beforeScript   = "module load migration-testing/singularity/3.7.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries     = 3

    withLabel:process_single {
        cpus   = { check_max( 1, 'cpus' )                                                     }
        memory = { check_max( 8.GB * task.attempt, 'memory' )                                    }
        time   = { check_max( 4.h  * task.attempt, 'time'    )                                }
    }
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'   )                                }
        memory = { round_memory( check_max( 8.GB * task.cpus, 'memory' )/task.cpus, "down")   }
        time   = { check_max( 4.h   * task.attempt, 'time'   )                                }
    }
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'   )                                }
        memory = { round_memory( check_max( 8.GB * task.cpus, 'memory' )/task.cpus, "down")   }
        time   = { check_max( 8.h   * task.attempt, 'time'   )                                }
    }
    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'   )                                }
        memory = { round_memory( check_max( 8.GB * task.cpus, 'memory' )/task.cpus, "down")   }
        time   = { check_max( 16.h  * task.attempt, 'time'   )                                }
    }
    withLabel:process_high_memory {
        memory = { round_memory( check_max( 200.GB * task.cpus, 'memory' )/task.cpus, "down") }
    }
    withLabel:process_low {
        time   = { check_max( 50.h  * task.attempt, 'time' )                                  }
    }
}

params {
    max_memory     = "1.TB"
    max_cpus       = 52
    max_time       = "168.h"
    mem_per_core   = true
    reference_base = "/data1/test01/ccs/work/noronhaa/test_forte/references"
    igenomes_base  = 's3://ngi-igenomes/igenomes'
    targets_base   = '/data1/test01/ccs/work/noronhaa/test_forte/references'
}

env {
    SPARK_LOCAL_DIRS = './'
}

singularity {
    enabled = true
    runOptions = "-B $TMPDIR"
    autoMounts = true
    cacheDir = "/data1/test01/ccs/singularity_images"
}
