executor {
    name = "lsf"
    queueSize = 5000000000
    perJobMemLimit = true
}

process {
    memory         = "8.GB"
    time           = { 3.h * task.attempt }
    clusterOptions = ""
    scratch        = true
    beforeScript   = "module load singularity/3.1.1; unset R_LIBS"
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries     = 3
}

params {
    max_memory     = "128.GB"
    max_cpus       = 24
    max_time       = "500.h"
    mem_per_core   = true
    reference_base = "/juno/work/taylorlab/cmopipeline/forte/"
    igenomes_base  = '/juno/work/taylorlab/cmopipeline/mskcc-igenomes/igenomes'
}

env {
    SPARK_LOCAL_DIRS = './'
}

singularity {
    enabled = true
    runOptions = "-B $TMPDIR"
    autoMounts = true
    cacheDir = "/juno/work/taylorlab/cmopipeline/singularity_images/"
}
