/*
 * -------------------------------------------------
 * Reference files config
 * -------------------------------------------------
 * Relative paths to reference files used by the pipeline
 * -------------------------------------------------
 * Only GRCh37 is supported at this time
 */


params {
    genomes {
        'hg19' {
            fasta                = "${params.genome_base}/alias/hg19/fasta/default/hg19.fa"
            gtf                  = "${params.genome_base}/alias/hg19/gencode_gtf/default/hg19.gtf.gz"
            star_index           = "${params.genome_base}/forte/hg19/star_2.7.10a"
            starfusion_url       = "https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/__genome_libs_StarFv1.10/GRCh37_gencode_v19_CTAT_lib_Mar012021.plug-n-play.tar.gz"
            starfusion_reference = "${params.genome_base}/forte/hg19/starfusion"
	    // fusioncatcher does not work with hg19, use with hg38 instead
	    fusioncatcher_reference = "${params.genome_base}/forte/hg38/fusioncatcher"
            targets {
                'idt_v2' {
                    target           = "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/grch37/tempo_targets_dsl2/exome/idt_v2/targets.bed"
                    bait             = "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/grch37/tempo_targets_dsl2/exome/idt_v2/baits.bed"
                }
            }
        }
    }
}
