process {
    withName: '.*_TO_CFF|GUNZIP_METAFUSION.*|AGFUSION.*|ARRIBA_DOWNLOAD' {
        ext.when = { ! (workflow.profile.toString().split(",").contains("singularity") && workflow.profile.toString().split(",").contains("test")) }
    }

    withName: '.*:FILLOUT:.*' {
        ext.when = 0
    }
}
