
params {
    fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    gtf   = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.gtf"
    publish_dir_mode = 'copy'
    run_alignment = true
    run_qc = false
    run_fusion = false
    save_unaligned = false
    save_align_intermeds = true
    ignore_read_pair_suffixes = true
}

//includeConfig '../conf/modules.config'
process {
    withName: UMITOOLS_EXTRACT {
        ext.args = { "--bc-pattern=\"${meta.umi}\"${params.ignore_read_pair_suffixes ? " --ignore-read-pair-suffixes" : ""}" }
    }
}

